"This dataset was shared with me by a colleague who got it from a colleague.  I found this source http://armstrade.sipri.org/armstrade/page/trade_register.php as a potential generator of the dataset.  The purpose of this excercise is to mainly focus on cleaning the data rather than building a model."

In [13]:
import pandas as pd
df = pd.read_csv('Trade-Register-1950-2019-suppliers copy.txt', delimiter='\t', encoding='utf-8', engine='python' )

In [14]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8,No.,...,No.,Unnamed: 15,recipient (R),ordered,designation,description,of order,delivery,delivered,Comments
0,NaN,NaN,None,None,None,None,None,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,None,None,None,None,None,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,None,None,None,None,None,None,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,None,None,None,None,None,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27035 entries, 0 to 27034
Data columns (total 24 columns):
Unnamed: 0       26898 non-null object
Unnamed: 1       3317 non-null object
Unnamed: 2       26649 non-null object
Unnamed: 3       26762 non-null object
                 26762 non-null object
Year(s)          26685 non-null object
Unnamed: 6       25998 non-null object
Supplier/        25540 non-null object
Unnamed: 8       18901 non-null object
No.              0 non-null float64
Weapon           0 non-null float64
Weapon.1         0 non-null float64
Year             0 non-null float64
of               0 non-null float64
No.              0 non-null float64
Unnamed: 15      0 non-null float64
recipient (R)    0 non-null float64
ordered          0 non-null float64
designation      0 non-null float64
description      0 non-null float64
of order         0 non-null float64
delivery         0 non-null float64
delivered        0 non-null float64
Comments         0 non-null float64
dtypes: float64(15), object(9)
memory usage: 5.0+ MB

In [16]:
df.dropna(how='all', axis=1, inplace=True)

In [17]:
df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8
0,NaN,NaN,None,None,None,None,None,None,None
1,NaN,NaN,None,None,None,None,None,None,None
2,Albania,None,None,None,None,None,None,None,None
3,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,None
4,NaN,NaN,None,None,None,None,None,None,None
5,Algeria,None,None,None,None,None,None,None,None
6,R: Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP,None
7,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand,None
8,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid,None
9,NaN,NaN,None,None,None,None,None,None,None
10,Angola,None,None,None,None,None,None,None,None
11,R: Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid,None
12,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels,None
13,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels
14,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain,None
15,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...,None
16,NaN,NaN,None,None,None,None,None,None,None
17,Argentina,None,None,None,None,None,None,None,None
18,R: Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions,None
19,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations,None

In [18]:
#all the suppliers come right before the recipients which are indicated by having an R:\n",
#isolating those first:\n",
df['r'] = df.iloc[:,0].str.find('R:')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8,r
0,NaN,NaN,None,None,None,None,None,None,None,NaN
1,NaN,NaN,None,None,None,None,None,None,None,NaN
2,Albania,None,None,None,None,None,None,None,None,-1.0
3,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,None,0.0
4,NaN,NaN,None,None,None,None,None,None,None,NaN

In [19]:
index = df.index

In [20]:
#idendifying index list of all the recipients
recps = index[df.iloc[:,0].str.find('R:') == 0]
recps

Int64Index([    3,     6,    11,    18,    46,    49,    52,   183,   288,
              291,
            ...
            18060, 18063, 26730, 26952, 26956, 26962, 26974, 26979, 27029,
            27032],
           dtype='int64', length=136)

In [21]:
#dentifying index for all the suppliers\n",
sups = recps -1
sups

Int64Index([    2,     5,    10,    17,    45,    48,    51,   182,   287,
              290,
            ...
            18059, 18062, 26729, 26951, 26955, 26961, 26973, 26978, 27028,
            27031],
           dtype='int64', length=136)

In [22]:
df.rename(columns = {'Unnamed: 0':'sups_recips'}, inplace = True)

In [23]:
df.insert(0, 'Supplier', value=' ')

In [24]:
df.loc[sups]

,Supplier,sups_recips,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8,r
2,,Albania,None,None,None,None,None,None,None,None,-1.0
5,,Algeria,None,None,None,None,None,None,None,None,-1.0
10,,Angola,None,None,None,None,None,None,None,None,-1.0
17,,Argentina,None,None,None,None,None,None,None,None,-1.0
45,,Armenia,None,None,None,None,None,None,None,None,-1.0
...,...,...,...,...,...,...,...,...,...,...,...
26961,,Venezuela,None,None,None,None,None,None,None,None,-1.0
26973,,Viet Nam,None,None,None,None,None,None,None,None,-1.0
26978,,Yugoslavia,None,None,None,None,None,None,None,None,-1.0
27028,,Zambia,None,None,None,None,None,None,None,None,-1.0
27031,,Zimbabwe,None,None,None,None,None,None,None,None,-1.0

In [25]:
#shifting the values over by pulling the indexes and adjacent values
col= df.loc[sups, ["Supplier", "sups_recips"]].shift(-1, axis=1, fill_value=" ")
col

         Supplier sups_recips
2         Albania
5         Algeria
10         Angola
17      Argentina
45        Armenia
...           ...         ...
26961   Venezuela
26973    Viet Nam
26978  Yugoslavia
27028      Zambia
27031    Zimbabwe

[136 rows x 2 columns]

In [26]:
#filling it in
df['Supplier'] = col['Supplier']
df.head()

,Supplier,sups_recips,Unnamed: 1,Unnamed: 2,Unnamed: 3,,Year(s),Unnamed: 6,Supplier/,Unnamed: 8,r
0,NaN,NaN,NaN,None,None,None,None,None,None,None,NaN
1,NaN,NaN,NaN,None,None,None,None,None,None,None,NaN
2,Albania,Albania,None,None,None,None,None,None,None,None,-1.0
3,NaN,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,None,0.0
4,NaN,NaN,NaN,None,None,None,None,None,None,None,NaN

In [27]:
#all recipients have null values in Supplier column:
recip1idx = df[df['Supplier'].isnull()].index.tolist()

In [28]:
#filling in all the suppliers 
df['Supplier'].ffill(inplace=True)

In [29]:
#creating a space for the recips to go
df.insert(2, 'Recipient', value=' ')

In [30]:
#shifting the values over by pulling the indexes and adjacent values
col1= df.loc[recip1idx, ["sups_recips", "Recipient"]].shift(1, axis=1, fill_value=" ")

In [31]:
df['Recipient'] = col1['Recipient']

In [32]:
df.drop('sups_recips', axis=1, inplace=True)

In [33]:
#renaming columns since it throws key errors
df.rename(columns = {'Unnamed: 1' :'No','Unnamed: 2':'Weapon', 'Unnamed: 3' : 'Description', " ": 'Year',
                     'Unnamed: 6' : 'Delivered', 'Supplier/':'Comments'},
                     inplace = True)

In [34]:
df.head(20)

,Supplier,Recipient,No,Weapon,Description,Year,Year(s),Delivered,Comments,Unnamed: 8,r
0,NaN,NaN,NaN,None,None,None,None,None,None,None,NaN
1,NaN,NaN,NaN,None,None,None,None,None,None,None,NaN
2,Albania,NaN,None,None,None,None,None,None,None,None,-1.0
3,Albania,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,None,0.0
4,Albania,NaN,NaN,None,None,None,None,None,None,None,NaN
5,Algeria,NaN,None,None,None,None,None,None,None,None,-1.0
6,Algeria,R: Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP,None,0.0
7,Algeria,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand,None,-1.0
8,Algeria,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid,None,-1.0
9,Algeria,NaN,NaN,None,None,None,None,None,None,None,NaN
10,Angola,NaN,None,None,None,None,None,None,None,None,-1.0
11,Angola,R: Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid,None,0.0
12,Angola,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels,None,-1.0
13,Angola,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels,-1.0
14,Angola,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain,None,-1.0
15,Angola,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...,None,-1.0
16,Angola,NaN,NaN,None,None,None,None,None,None,None,NaN
17,Argentina,NaN,None,None,None,None,None,None,None,None,-1.0
18,Argentina,R: Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions,None,0.0
19,Argentina,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations,None,-1.0

In [35]:
df.head(14)

,Supplier,Recipient,No,Weapon,Description,Year,Year(s),Delivered,Comments,Unnamed: 8,r
0,NaN,NaN,NaN,None,None,None,None,None,None,None,NaN
1,NaN,NaN,NaN,None,None,None,None,None,None,None,NaN
2,Albania,NaN,None,None,None,None,None,None,None,None,-1.0
3,Albania,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,None,0.0
4,Albania,NaN,NaN,None,None,None,None,None,None,None,NaN
5,Algeria,NaN,None,None,None,None,None,None,None,None,-1.0
6,Algeria,R: Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP,None,0.0
7,Algeria,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand,None,-1.0
8,Algeria,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid,None,-1.0
9,Algeria,NaN,NaN,None,None,None,None,None,None,None,NaN
10,Angola,NaN,None,None,None,None,None,None,None,None,-1.0
11,Angola,R: Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid,None,0.0
12,Angola,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels,None,-1.0
13,Angola,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels,-1.0

In [36]:
shft_recip = df['Recipient'] == '     '
sups_idx = [i for i, true in enumerate(shft_recip) if true]

In [37]:
sups_idx

[13,
 21,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 56,
 58,
 60,
 68,
 69,
 72,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 95,
 97,
 99,
 100,
 104,
 106,
 108,
 109,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 121,
 122,
 123,
 124,
 125,
 129,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 142,
 143,
 144,
 145,
 147,
 149,
 151,
 152,
 156,
 157,
 160,
 161,
 163,
 165,
 168,
 169,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 179,
 187,
 190,
 193,
 196,
 201,
 202,
 203,
 207,
 208,
 209,
 211,
 213,
 217,
 219,
 220,
 222,
 224,
 225,
 227,
 229,
 234,
 236,
 239,
 240,
 241,
 242,
 245,
 248,
 252,
 253,
 254,
 255,
 256,
 260,
 263,
 264,
 266,
 267,
 268,
 269,
 270,
 271,
 273,
 277,
 278,
 279,
 281,
 283,
 284,
 300,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 341,
 342,
 344,
 347,
 352,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 365,
 368,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 387,
 389,
 391,
 392,
 393,
 394,
 397,
 398,
 403,
 406,
 407,
 409,
 410,
 413,
 414,
 416,
 417,
 420,
 421,
 422,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 437,
 438,
 439,
 440,
 442,
 443,
 444,
 445,
 446,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 471,
 472,
 477,
 479,
 482,
 487,
 488,
 489,
 490,
 496,
 497,
 502,
 513,
 514,
 515,
 517,
 518,
 519,
 520,
 521,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 544,
 545,
 546,
 547,
 548,
 549,
 552,
 553,
 556,
 557,
 558,
 559,
 561,
 563,
 565,
 566,
 567,
 568,
 571,
 572,
 576,
 577,
 580,
 581,
 582,
 583,
 584,
 585,
 588,
 590,
 592,
 593,
 597,
 600,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 622,
 623,
 626,
 627,
 631,
 633,
 635,
 636,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 649,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 671,
 672,
 673,
 674,
 677,
 679,
 680,
 681,
 682,
 683,
 684,
 686,
 690,
 691,
 692,
 693,
 694,
 695,
 698,
 699,
 701,
 702,
 703,
 704,
 705,
 706,
 708,
 709,
 711,
 713,
 714,
 715,
 717,
 718,
 719,
 720,
 721,
 725,
 729,
 731,
 733,
 734,
 741,
 742,
 743,
 744,
 746,
 747,
 753,
 759,
 760,
 761,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 775,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 788,
 789,
 790,
 791,
 792,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 804,
 808,
 809,
 810,
 811,
 814,
 815,
 816,
 818,
 819,
 820,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 836,
 839,
 840,
 841,
 842,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 875,
 877,
 878,
 879,
 880,
 881,
 884,
 885,
 886,
 888,
 890,
 891,
 892,
 893,
 894,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 905,
 906,
 908,
 909,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 923,
 925,
 926,
 927,
 928,
 929,
 931,
 932,
 933,
 934,
 936,
 937,
 938,
 939,
 940,
 941,
 943,
 945,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 972,
 973,
 974,
 975,
 976,
 978,
 979,
 980,
 981,
 982,
 983,
 985,
 986,
 987,
 988,
 989,
 991,
 992,
 993,
 994,
 996,
 997,
 998,
 1000,
 1001,
 1003,
 1004,
 1005,
 1006,
 1008,
 1009,
 1010,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1020,
 1022,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1031,
 1033,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 1056,
 1058,
 1060,
 1061,
 1062,
 1063,
 1064,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1073,
 1075,
 1076,
 1079,
 1080,
 1081,
 1083,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1091,
 1093,
 1094,
 1095,
 1096,
 1099,
 1100,
 1101,
 1102,
 1103,
 1104,
 1105,
 1106,
 1107,
 1108,
 1109,
 1110,
 1112,
 1113,
 1114,
 1115,
 1117,
 1118,
 1119,
 1120,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1130,
 1133,
 1134,
 1135,
 1136,
 1137,
 1138,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1146,
 1147,
 1149,
 1150,
 1152,
 1153,
 1156,
 1157,
 1159,
 1160,
 1161,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1179,
 1182,
 1183,
 1184,
 1185,
 1187,
 1188,
 1189,
 1190,
 1191,
 1192,
 1193,
 1194,
 1195,
 1196,
 1197,
 1200,
 1201,
 1202,
 1203,
 1204,
 1205,
 1206,
 1207,
 1208,
 1209,
 1210,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1224,
 1225,
 1226,
 1227,
 1229,
 1232,
 1233,
 1234,
 1237,
 1238,
 1239,
 1240,
 1241,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1248,
 1249,
 1250,
 1251,
 1252,
 1253,
 1254,
 1255,
 1256,
 1257,
 1258,
 1259,
 1260,
 1261,
 1263,
 1264,
 1265,
 1266,
 1269,
 1270,
 1271,
 1272,
 1273,
 1274,
 1276,
 1277,
 1280,
 1281,
 1282,
 1283,
 1284,
 1288,
 1293,
 1295,
 1299,
 1300,
 1302,
 1303,
 1305,
 1307,
 1308,
 1309,
 1310,
 1322,
 1323,
 1325,
 1326,
 1328,
 1329,
 1330,
 1331,
 1332,
 1333,
 1334,
 1335,
 1336,
 1338,
 1340,
 1341,
 1342,
 1343,
 1344,
 1346,
 1347,
 1348,
 1349,
 1350,
 1351,
 1352,
 1353,
 1354,
 1355,
 1356,
 1357,
 1358,
 1359,
 1360,
 1361,
 1362,
 1363,
 1364,
 1365,
 1366,
 1367,
 1368,
 1370,
 1371,
 1374,
 1376,
 1378,
 1379,
 1380,
 1381,
 1382,
 1383,
 1384,
 1385,
 1386,
 1387,
 1388,
 1389,
 1390,
 1391,
 1392,
 1393,
 1394,
 1395,
 1396,
 1397,
 1398,
 1399,
 1400,
 1401,
 1402,
 1404,
 1405,
 1406,
 1407,
 1408,
 1409,
 1410,
 1411,
 1412,
 1413,
 1414,
 1415,
 1416,
 1417,
 1418,
 1420,
 1421,
 1422,
 1423,
 1429,
 1430,
 1431,
 1432,
 1433,
 1434,
 1435,
 1436,
 1437,
 1438,
 1439,
 1440,
 1441,
 1442,
 1443,
 1444,
 1445,
 1446,
 1447,
 1448,
 1449,
 1450,
 1451,
 1452,
 1453,
 1454,
 1455,
 1456,
 1457,
 1458,
 1459,
 1460,
 1461,
 1462,
 1463,
 1464,
 1465,
 1466,
 1467,
 1468,
 1469,
 1470,
 1471,
 1472,
 1473,
 1474,
 1475,
 1476,
 1477,
 1478,
 1479,
 1480,
 1481,
 1482,
 1483,
 1484,
 ...]

In [38]:
#reassigning the indexes with the shifted values:
df.loc[sups_idx] = df.loc[sups_idx].shift(-1, axis=1, fill_value=" ")

In [39]:
df.loc[sups_idx]

,Supplier,Recipient,No,Weapon,Description,Year,Year(s),Delivered,Comments,Unnamed: 8,r
13,,NaN,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels,,
21,,NaN,3,Gem,Turboshaft,1988,1988,3,Second-hand; spares for Lynx helicopters,,
25,,NaN,3,Bouchard,OPV,1964,1964-1968,3,Second-hand,,
26,,NaN,1,G-21 Goose,Light transport ac,(1966),1967,1,Second-hand; aid,,
27,,NaN,1,DHC-3 Otter,Light transport ac,(1970),1972,1,Second-hand; aid,,
...,...,...,...,...,...,...,...,...,...,...,...
27022,,NaN,1,PN-13,Tanker,1969,1969,1,Second-hand but modernized before delivery; Su...,,
27023,,NaN,5,DTM-211,Landing craft,(1990),1991,5,Designation uncertain,,
27025,,NaN,2,G-2A Galeb,Trainer aircraft,1970,1971,2,G-2AE version,,
27026,,NaN,4,J-1 Jastreb,Ground attack ac,1970,1971,4,J-1E version; possibly incl 2 RJ-1E reconnaiss...,,
27034,,NaN,2,Pembroke,Light transport ac,1964,1964,2,Ex-Rhodesian; taken over on independence; Pemb...,,

In [40]:
df.head()

,Supplier,Recipient,No,Weapon,Description,Year,Year(s),Delivered,Comments,Unnamed: 8,r
0,NaN,NaN,NaN,None,None,None,None,None,None,None,NaN
1,NaN,NaN,NaN,None,None,None,None,None,None,None,NaN
2,Albania,NaN,None,None,None,None,None,None,None,None,-1
3,Albania,R: Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand,None,0
4,Albania,NaN,NaN,None,None,None,None,None,None,None,NaN

In [41]:
df.drop(['Unnamed: 8', 'r'], axis=1, inplace=True)

In [43]:
dfsr = df[['Supplier', 'Recipient']]
dels = dfsr[dfsr['Recipient'].isnull()].index.tolist()

In [44]:
df.drop(dels, axis=0, inplace=True)

In [45]:
df['Recipient'] = df['Recipient'].str.replace('R:', "")

In [46]:
df.head()

,Supplier,Recipient,No,Weapon,Description,Year,Year(s),Delivered,Comments
3,Albania,Burkina Faso,(12),M-43 120mm,Mortar,(2011),2011,12,Probably second-hand
6,Algeria,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP
7,Algeria,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand
8,Algeria,Western Sahara,(3),BTR-60PB,APC,(2016),2016,(3),Second-hand; aid
11,Angola,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid

In [47]:
df['No'] = df['No'].str.replace('(',"")
df['No'] = df['No'].str.replace(')', "")

In [50]:
df['Year'] = df['Year'].str.replace(')', "")
df['Year'] = df['Year'].str.replace('(',"")

In [52]:
df['Delivered'] = df['Delivered'].str.replace(')', "")
df['Delivered'] = df['Delivered'].str.replace('(',"")

In [55]:
df.head(20)

,Supplier,Recipient,No,Weapon,Description,Year,Year(s),Delivered,Comments
3,Albania,Burkina Faso,12,M-43 120mm,Mortar,2011,2011,12,Probably second-hand
6,Algeria,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP
7,Algeria,Nigeria,2,Il-28,Bomber aircraft,1967,1968,2,Second-hand
8,Algeria,Western Sahara,3,BTR-60PB,APC,2016,2016,3,Second-hand; aid
11,Angola,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid
12,Angola,Cote d'Ivoire,2,BMP-2,IFV,2002,2002,2,Second-hand; for use against fight rebels
14,Angola,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain
15,Angola,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...
18,Argentina,Bolivia,37,M-3/M-5 Half-track,APC,2006,2006,37,Second-hand; aid; M-5 and M-9 versions
19,Argentina,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations
20,Argentina,Denmark,1,Lynx,ASW helicopter,1987,1987,1,Second-hand; $3.5 m deal
22,Argentina,Ecuador,18,M-101A1 105mm,Towed gun,1995,1995,18,Second-hand but modernized before delivery; pa...
23,Argentina,Honduras,60,MO-120-M65 120mm,Mortar,1980,1981-1983,60,NaN
24,Argentina,Paraguay,3,CV-440,Transport aircraft,1962,1962,3,Second-hand; $0.7 m deal; CV-440 version
34,Argentina,Spain,1,CH-47C Chinook,Transport helicopter,2001,2001,1,Second-hand
35,Argentina,Sri Lanka,4,IA-58A Pucara,Ground attack ac,1992,1993-1994,4,$11 m deal; produced 1980s on speculation for ...
36,Argentina,Uruguay,2,T-6 Texan,Trainer aircraft,1969,1970,2,Second-hand
46,Armenia,Sudan,1,An-32,Transport aircraft,2005,2006,1,Second-hand; probably; ordered via Ukraine; mo...
49,Aruba,Israel,1,Boeing-707,Transport aircraft,1996,1996,1,Second-hand; for modification to tanker/transp...
52,Australia,India,11,Thornycroft 26m,Patrol craft,2004,2006-2011,11,For coast guard

In [54]:
df.groupby('Supplier').get_group('Algeria')['No'].sum()

'423'